@model IEnumerable<CarDealership.Models.Car>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Cars</h2>
<p> @Html.ActionLink("New Car", "New", "Cars", null, new { @class = "btn btn-primary" })</p>

    <table id="cars" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Make</th>
                <th>Color</th>
                <th>Model</th>
                <th>Dealer Name</th>
                <th>Availability Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>



@section scripts
{
    <script>
        $(document).ready(function () {
           var carTable = $("#cars").DataTable({
                ajax: {
                    url: `@ViewBag.BaseURL/api/cars/Getcars`,
                    dataSrc: ""
                },
                columns: [
                    {
                        data:"make"
                    }
                    ,
                    {
                        data:"color"
                    }
                    ,
                    {
                        data:"model"
                    }               
                    ,
                    {
                        data:"dealerName"
                    }
                    ,
                    {
                        data:"availabilityType.availability"
                    }
                    ,
                    {
                        data: "id",
                        render: function (data) {
                            return `<a href='@ViewBag.BaseURL/cars/edit/${data}'>Edit</a> <a class='btn-link js-delete' data-car-id='${data}'>Delete</a>`;

                        }
                    }
                ]
            });

            $("#cars").on("click",".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this car?", function (result) {
                    if (result) {
                         $.ajax({
                         url: `@ViewBag.BaseURL/api/cars/Deletecar/${button.attr("data-car-id")}`,
                         method: "DELETE",
                             success: function () {
                                 carTable.row(button.parents("tr")).remove().draw();
                         }
                     });
                    }
                });

            });
        });

    </script>
}